*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import './scss/mixins';

// Estilos
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    @include flex-container(row, center, space-between);
    padding: 1rem;
    background-color: #333;
    color: #fff;
    height: 60px; // Ajusta el alto del header si es necesario

    &__nav {
        @include flex-container(row, center, space-between);
        height: 100%;
        &-link {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            padding: 0.5rem 1rem; // Espacio alrededor del enlace
            border-radius: 4px;
            transition: background-color 0.3s, color 0.3s;
    
            &:hover,
            &:focus {
                background-color: #555; // Color de fondo al pasar el ratón
                color: #ddd; // Color del texto al pasar el ratón
            }
        }
    }

    &__nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 1rem; // Espacio entre los enlaces

        &-item {
            margin: 0;
        }

    }
   
}

.main {
    @include grid-container(1, 3, 1rem);
    padding: 2rem;
    flex: 1; // Ocupa el espacio restante disponible

    &__section {
        padding: 1rem;
        background-color: #f4f4f4;

        &--intro {
            grid-column: span 2;
        }

        &--services,
        &--contact {
            grid-column: span 1;
        }
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__subtitle {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    &__text {
        font-size: 1rem;
    }
}

.footer {
    @include flex-container(row, center, space-between);
    padding: 1rem;
    background-color: #222;
    color: #fff;
    height: 60px; // Ajusta el alto del footer si es necesario

    &__social {
        @include flex-container(row, center, space-between);
        
        &-link {
            color: #fff;
            text-decoration: none;
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__contact {
        @include flex-container(row, column, center);
        
        &-info {
            margin: 0.5rem 0;
        }
    }
}
